# PYTHON-10. Введение в Pandas

## 9. Закрепление знаний

Анализ данных о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.
Информация о столбцах таблицы:
- gender — пол;
- race/ethnicity — раса/этническая принадлежность;
- parental level of education — уровень образования родителей;
- lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
- test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
- math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

Подключение библиотек.

In [196]:
import pandas as pd
import numpy as np

Загрузка данных в DataFrame.

In [197]:
student_data = pd.read_csv(r'.\data\students_performance.csv', sep=',',
                           converters={'test preparation course': lambda x: x == 'completed'})

Информация о столбцах таблицы:

In [198]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   bool
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: bool(1), int64(3), object(4)
memory usage: 55.8+ KB

9.1 Данные о скольких студентах содержатся в таблице?

In [199]:
display(student_data.shape[0])

1000

9.2 Каков балл по письму у студента под индексом 155?

In [200]:
print(student_data['writing score'][155])
print(student_data.loc[155, 'writing score'])
print(student_data.iloc[155, 7])

88
88
88

9.3 Сколько суммарно пропущенных значений в таблице?

In [201]:
display(student_data.isna().sum())
print(student_data.isna().sum().sum())

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

0

9.4 Сколько столбцов в таблице имеет тип данных object?

In [202]:
count_object = 0
for col in student_data.columns:
    if student_data[col].dtype == 'object':
        count_object += 1
print(count_object)

4

9.5 Какой объём памяти (в килобайтах) занимает таблица?

In [203]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   bool
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: bool(1), int64(3), object(4)
memory usage: 55.8+ KB

9.6 Каков у студентов средний балл по математике?

In [204]:
round(student_data['math score'].mean())

66

9.7 Какая расовая группа является самой крупной в учебном заведении?

In [205]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

9.8 Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [206]:
round(student_data[student_data['test preparation course']]['reading score'].mean())

74

9.9 Сколько студентов получили 0 баллов по математике?

In [207]:
student_data[student_data['math score'] == 0].shape[0]

1

9.10 Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [208]:
mean_math0 = round(student_data[student_data['lunch'] == 'standard']['math score'].mean())
print(f'Оплачиваемое питание:   {mean_math0}')
mean_math1 = round(student_data[student_data['lunch'] != 'standard']['math score'].mean())
print(f'Неоплачиваемое питание: {mean_math1}')

Оплачиваемое питание:   70
Неоплачиваемое питание: 59

9.11 Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [209]:
round(student_data['parental level of education'].value_counts(normalize=True)['bachelor\'s degree']*100)

12

9.12 Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [210]:
madian_writing_A = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
madian_writing_C = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()
np.abs(madian_writing_A - madian_writing_C)

np.float64(6.0)